/*Fonts' import*/

/*Staatliches font from Google inspired by the response to Herbert Bayer’s title lettering on the cover of the first Bauhaus exhibition catalogue*/
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* Akzidenz-grotesk fonts from Bauhaus Zeitschrift*/
@font-face {
font-family: MyAkzidenz;
src: url("../fonts/Akzidenz-grotesk-roman.ttf");
}

@font-face {
font-family: MyAkzidenz_b;
src: url("../fonts/Akzidenz-grotesk-black.ttf");
}

/*general settings*/
* {
  box-sizing: border-box;
  font-family: MyAkzidenz;
}

h2 {
	font-family: MyAkzidenz_b;
	line-height: 1em;
}

h3, h4, h5, h6 {
	font-family: MyAkzidenz_b;
	padding-top: 1em;
}

body {
	font-family: MyAkzidenz;
}

img {
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

/*grid layout and items*/
.grid-container {
	display: grid;
	grid-template-areas:
		'header header header header rightUp logo'
		'sep sep sep sep rightUp logo'
		'nav nav nav nav rightUp logo'
		'menu main main main rightUp rightDown'
		'menu main main main rightUp rightDown'
		'menu footer footer footer footer footer';
	height: 100vmin;
	width: 100%;
	margin-top: -0.5vw;
	grid-template-columns: 1fr 1fr 1fr 0fr 1.5fr 1.5fr;
	grid-template-rows: 0.4fr 0.01fr 0.2fr 3.2fr 3.2fr 0.1fr;
}

.sep {
  grid-area: sep;
  background-color: white; 
}

.logo{
  grid-area: logo;
  background-color: #d40000;
  color: white;
  padding: 0.2vw;
  text-align: left;
}

	.logo p{
		font-size: 3vw; 
		line-height: 0.1vw;
		font-family: MyAkzidenz_b;
		text-transform:uppercase;
		}
		
	.logo p::first-letter {
		line-height: 0.1vw;
		font-size: 4.5vw;
		color: black;
	}

.header { 
	grid-area: header;
	font-family: 'Staatliches', cursive;
	font-size: 6vw;
	text-align: left; 
	letter-spacing: -0.05vw;
	padding: 0.3vw;
	background-color: #d40000;
}

.navbar{
	grid-area: nav;
	background-color: #d40000;
}

.menu { 
	grid-area: menu; 
	background-color: black;
	color:white;
	border: 0.2vw solid #000000;
	padding: 1vw;
	overflow: auto;
	font-family: 'Staatliches', cursive;
}

	.menu h4 {
		font-family: 'Staatliches', cursive;
	}
	
	.menu H6, p {
		font-family: font-family: MyAkzidenz;
	}
	
	.menu a {
		text-decoration:none;
	}

.boxM { 
	grid-area: main; 
	overflow-y: auto;
	overflow-x: hidden;
	border-top: 0.2vw solid #000000;
	border-bottom: 0.2vw solid #000000;
	padding:1vw;
}

.boxRU { 
	grid-area: rightUp; 
	overflow-y: auto;
	overflow-x: hidden;
	border: 0.2vw solid #000000;
	margin-top: 0.5vw;
	padding:1vw;
}

.boxRD { 
	grid-area: rightDown;
	overflow-y: auto;
    scrollbar-color: black;
	overflow-x: hidden;
	border-top: 0.2vw solid #000000;
	border-bottom: 0.2vw solid #000000;
	padding:1vw
}

	.title_art {
		border-bottom: 4vh solid black;	
	}

	.boxM, .boxRU, .boxRD p {
		line-height: 97%;
		font-family: MyAkzidenz;
		}

.footer { 
	grid-area: footer; 
	text-align: center;
	background-color: #d40000;
	color: white;
}

	.footer a{ 
		text-decoration:none;
	}

	.footer a:hover{ 
		font-weight: bold;
	}

/*Highlighting*/

.highlighted {
  font-family: MyAkzidenz_b; 
  font-size: 1.5em; 
}

.highlighted_more {
  font-family: MyAkzidenz_b; 
  font-size: 1.5em; 
}

	.higlighted_more:before {
		content: "▶";
		display: inline-block;
	}


/*Decorations*/
/*dots to highlight paragraph in the central article from Bauhaus*/
.boxRU .maincontent div[id^="sec"] p:before {
	content: "⬤";
    display: block;
    float: left;
    margin: 0 6px 0 0;
}

/*strong lateral lines to highlight references, from Sovremennaya arkhitektura and Bauhaus*/
.references {
	border-top: 2vh solid black;	
	border-right: 2vh solid black;
}

/*customized scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 1.2vw;
}
/* Track */
::-webkit-scrollbar-track {
	background: black;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #555;	
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

/*customized modal*/

.w3-container{
	background: black;
}

.w3-content h4{
	font-family: 'Staatliches', cursive;
}

.w3-content p{
	font-family: MyAkzidenz; 
}

.w3-content a{
	text-decoration: none;
}

/* Style the navigation bar links */
.navbar a {
	font-family: 'Staatliches', cursive;
	font-size: 1.2em;
	color: white;
	padding: 0.1vw 0.2vw;
	text-decoration: none;
	text-align: center;
}

.navbar a:hover, .dropdown:hover {
  background-color: #ddd;
  color: black;
}

.nav-item, .dropdown li, a {
	display: inline-block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {background-color: #555;}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ddd;
  max-width: 25vw;
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 0.4vw 0.3vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

button {
	font-family: 'Staatliches', cursive;
	background-color: black;
	color:white;
	padding:0.3em 0.3em;
	text-decoration:none;
}

button:hover{
background-color: white;
color: black;
}

@media all and (max-width:30em){
a.button{
display:block;
margin:0.2em auto;
}

/*.navbar-nav ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: ;
}*/
/*li a:hover, .dropdown:hover .nav-item {
  background-color: #ddd;
}

li .dropdown {
  display: inline-block;
}*/


/* Higlight the entities and the references 

/* Style the navigation bar links

.navbar a {
	font-family: font-family: MyAkzidenz_b;
  color: white;
  padding: 0.1vw 0.2vw;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover, .dropdown:hover {
  background-color: #ddd;
  color: black;
}

.nav-item, .dropdown li, a {
	display: inline-block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {background-color: #f1f1f1;}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50vw;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 0.4vw 0.3vw;
  text-decoration: none;
  display: block;
  text-align: left;
}
*/
