@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
  box-sizing: border-box;
}

/*grid layout and items*/
.grid-container {
  display: grid;
  grid-template-areas:
    'logo header header header header header'
    'nav nav nav nav nav nav'
    'menu main main main rightUp rightUp'
    'menu main main main rightDown rightDown'
    'footer footer footer footer footer footer';
  height: 100vmin;
  width:100%;
  margin-top: -0.5vw;
  grid-template-columns: 25vmin 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 5vmin 15vmin 1fr 1fr 5vmin;
}

.logo{
  grid-area: logo;
  background-color: #000000;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding: 1vw;
  text-align: left;
}

.header { 
	grid-area: header;
	font-family: 'Oswald', sans-serif;
	text-align: right; 
	letter-spacing: -0.05vw;
	position: static;
	padding: 0.5vw;
}

.navbar{
  grid-area: nav;
  background-color: black;
  /*display: flex; manca blocco allo scorrimento in alto*/
}

.menu { 
	grid-area: menu; 
	background-color: #ededed;
	border: 0.2vw solid #000000;
	padding: 1vw;
	overflow: auto;
}

.boxM { 
	grid-area: main; 
	overflow: auto;
	border-top: 0.2vw solid #000000;
	border-bottom: 0.2vw solid #000000;
	padding:2vw;
}

.boxRU { 
	grid-area: rightUp; 
	overflow:auto;
	border-right: 0.2vw solid #000000;
	border-top: 0.2vw solid #000000;
	border-left: 0.2vw solid #000000;
	padding:2vw;
}

.boxRD { 
	grid-area: rightDown;
	overflow:auto;
	border: 0.2vw solid #000000;
	padding:2vw
}

.footer { 
	grid-area: footer; 
	text-align: center;
}

/* Responsive layout - when the screen is less than xxpx (o vmin??) wide, make the grid items stack on top of each other instead of next to each other */

@media screen and (max-width: 500px) {
	.logo { display: none; }
	.header { grid-area: 1 / 1 / 2 / span 6 ; }
	.navbar { grid-area: 2 / 1 / 3 / span 6 ; }
	.menu { grid-area: 3 / 1 / 4 / span 6 ;  }
	.boxM { grid-area: 4 / 1 / 6 / span 6 ; }
	.boxRU { grid-area: 6 / 1 / 8 / span 6 ;  }
	.boxRD { grid-area: 8 / 1 / 10 / span 6 ; }
	.footer{ grid-area: 10 / 1 / 11 / span 6 ; }
}

/* Style the body or other elements*/
body {
  font-family: Arial;
}

/* Style the navigation bar links */

.navbar a {
  color: white;
  padding: 0.1vw 0.2vw;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover, .dropdown:hover {
  background-color: #ddd;
  color: black;
}

.nav-item, .dropdown li, a {
	display: inline-block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {background-color: #f1f1f1;}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 10vw;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  padding: 0.4vw 0.3vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

.highlighted {
  background-color: #ffffcc; 
}

.highlighted_more {
  background-color: red; 
}

/*2022-01-06*/
.modal {
position: top-left absolute !important;
weight: 30vw;
color: red;
}

.modal-backdrop
{
    opacity:0 !important;
}

/*.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}*/

/*.navbar-nav ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: ;
}*/
/*li a:hover, .dropdown:hover .nav-item {
  background-color: #ddd;
}

li .dropdown {
  display: inline-block;
}*/


/* Higlight the entities and the references */
.entity {
  background-color: #ffe6e6;
}*/
